[flake8]

ignore = E203, E501, W503,  # handled by black
         A003,
         B008,
         S303 # md5 используется не для шифрования, а для создания уникального ключа

exclude =
    .*
    venv
    env

max-cognitive-complexity = 7

doctests = True
